*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #343a40;;
}
.recipe-img-head {
    /* background-color: aqua; */
    width:95%;
    margin:0 auto;
    margin-bottom: 20px;
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.recipe-img-head img{
    display: inline-block;
    border-radius: 50%;
    height:70px;
    width:70px;
}
svg{
   width:20px;
   height:20px;
   /* fill:yellow; */
}
.head{
    width:95%;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    /* background-color: aquamarine; */
    height:60px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;;
}
.right-head-side{
    
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    width:30%;
    gap:10px;
    
}
.right-head-side button{
    background-color: #F9B73B;
    width:100px;
}
.meal-title{
    font-size: 16px;
    font-weight: bold;
}
i{
    font-size: 12px;
    color:#343a40;
    margin-left: 20px;
}


.add-meal{
    width:100%;
    margin:10px auto;
    display: flex;
    justify-content: center;
}
.add-meal-btn{
    width:200px;
}
.card-holder{
    /* margin-top: 20px; */
    padding: 22px;;
    /* background-color: antiquewhite; */
    width:95%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    gap:10px;
    flex-wrap: wrap;
}
hr{
    margin-bottom: 100px;
}
.card-img-top{
    height: 250px;
}
.card-title,.card-text{
    margin-bottom: 5px;
}
.card-text{
    font-size: 14px;
}

.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul.navbar-nav{
    display: flex;
    flex-direction: row;
    
}
footer{
    font-size: 14px;
    color: #343a40;
}
.shadow{
        box-shadow: 5px 5px 8px rgb(32, 29, 29);
        margin-bottom: 10px;

}
.toggle{
    fill:#F9B73B;
}


/*********styling animation button: add meal button style********************************* */

.add-meal-btn:link, .add-meal-btn:visited{
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 40px ;
    border-radius: 100px;
    transition: all 0.3s;
    position: relative;
    
    /* color:#777; */
    }
    .add-meal-btn:hover{
        /* we chose transform translate y because we want to move the btn up */
        transform: translateY(-3px);
        /* box-shadow: x offset value  y offset value  blur value   color */
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
    }
    .add-meal-btn:active{
        transform: translateY(1px);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }
    .btn-warning.add-meal-btn{
        background-color: #F9B73B;
        color: rgb(58, 58, 58);
        text-decoration: none;
        border-radius: 100px;
        position: relative;
        animation-fill-mode: backwards;
        
    }
    .btn-warning.add-meal-btn:hover{
        color: rgb(58, 58, 58);
    }
    
    .add-meal-btn::after{
        content:"";
        display: inline-block;
        height:100%;
        width:100%;
        border-radius: 100px;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        transition: all 0.8s;
      
    
    }
    .add-meal-btn::after{
        background-color: #F9B73B;
        
    }
    .add-meal-btn:hover::after{
        /* scale increase the element */
        transform: scalex(1.5) scaleY(1.6);
        opacity: 0;
    }
    @keyframes moveInbottom{
        /* start point */
        0%{ 
            opacity:0;
            /* translate x becuase we want to shift text fron left to right and left mean negative value */
            transform: translateY(30px);
        }
        
        /* endpoint */
        100%{
            opacity:1;
            /* translate 0 means back to origin */
            transform: translate(0px);
        }
    }