*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main{
    height: 100vh;
}
 i {
    font-size: 20px;
}

.title:hover{
    color: #6c584c;
}

.hero_section{
    /* background-color: aqua; */
    width:100%;
    height:100vh;
    background-image: url("images/victoria.jpg.jpg");
    background-size:contain;
}
.hero_section {
    /* background-color: rgb(153, 153, 9); */
    padding: 0 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}

.hero_section img{

    width:60%;
    height:500px;
    box-shadow: 3px 3px 3px #fff;
}

.main_description{
    font-size: 24px;
    width:50%;
    align-self: center;
    padding: 70px 70px;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}



.signin-btn{
    width:150px;
}

.nav-item a:hover{
    color: rgba(19, 18, 18, 0.492);
}

.nav-item a{
    color: rgb(53, 49, 49);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;

}


/* nav bar style */
.collapse{
    /* background-color: #6c584c; */
    margin-bottom: 0;
    padding-left: 20px;
    width: 100%;
    height:35px;
    display: flex;
    justify-content: space-between;
    /* gap:200px; */
}
.navbar-nav{
    /* background-color: aquamarine; */
    padding-right: 20px;
    width:70%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:15px;
}
.title{
    display: flex;
    font-size: 32px;
    justify-content: flex-start;
    margin-right: 0;
}
.title a{
    font-family: 'Rubik Moonrocks', cursive;
    color: rgb(53, 49, 49);
    font-size: 32px;
    /* padding-left: 30px; */
}
.title a:hover{
    color:#343a40;
}

.description-title{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 0;
}
.description-details{
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
}
.btn-main {
    display: flex;
    gap:20px;
    border-radius: 100px;
}
.btn-main a{
    color: #fff;
}



/* add animation to title */
.title a
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #495057 0%,
    #343a40 29%,
    #adb5bd 67%,
    #212529 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
      font-size: 32px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}




/*********styling animation button: discover all international meals button style********************************* */

.discover-btn:link, .discover-btn:visited{
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 40px ;
    border-radius: 100px;
    transition: all 0.3s;
    position: relative;
    
    /* color:#777; */
    }
    .discover-btn:hover{
        /* we chose transform translate y because we want to move the btn up */
        transform: translateY(-3px);
        /* box-shadow: x offset value  y offset value  blur value   color */
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
    }
    .discover-btn:active{
        transform: translateY(1px);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }
    .btn-warning.discover-btn{
        background-color: #F9B73B;
        color: rgb(58, 58, 58);
        text-decoration: none;
        border-radius: 100px;
        position: relative;
        animation-fill-mode: backwards;
        padding: 10px;
        
    }
    .btn-warning.discover-btn:hover{
        color: rgb(58, 58, 58);
    }
    
    .discover-btn::after{
        content:"";
        display: inline-block;
        height:100%;
        width:100%;
        border-radius: 100px;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        transition: all 0.8s;
      
    
    }
    .discover-btn::after{
        background-color: #F9B73B;
        
    }
    .discover-btn:hover::after{
        /* scale increase the element */
        transform: scalex(1.5) scaleY(1.6);
        opacity: 0;
    }
    @keyframes moveInbottom{
        /* start point */
        0%{ 
            opacity:0;
            /* translate x becuase we want to shift text fron left to right and left mean negative value */
            transform: translateY(30px);
        }
        
        /* endpoint */
        100%{
            opacity:1;
            /* translate 0 means back to origin */
            transform: translate(0px);
        }
    }
   