*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
.d-block {
    height:500px;
}

.container-show{
    width:95%;
    margin:5px auto;
}
.span-btn{
    font-weight: bold;
    margin-left: 40px;;
}
span{
    font-weight: bold;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;;
}
header .links{
padding: 10px;
    display: flex;
    align-items: center;
    gap:30px;

}
h1{
    font-size: 22px;
}
.btn{
width:200px;
}

.alert{
    width: 20%;
    background-color: #f1f3f5;
    border: 1px solid black;
    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 35%;
   
}
.alert button{
    width:70px;
}
.hidden{
    display: none;
}
.overlay{ 
    filter: blur(2px);
}